#about {
  margin-top: 50px;
}
.about {
  @include container;
  @include flex(center, center, column, 0px);
  .about-info {
    @include header;
  }
  .about-cards {
    // @include flex(center, center, row, 10px);
    .about-card {
      margin-top: 40px;
      text-align: center;
      @include flex(center, center, column, 30px);
      .about-icon {
        border-radius: 50%;
        border: 2px solid red;
        padding: 60px;
        font-size: 40px;
        transition: 0.5s ease;
        &:hover{
            background-color: red;
            color: white
        }
      }
      .about-info {
        @include flex(center, center, column, 30px);
        h4 {
          transition: 0.5s ease;
        }
      }
      .about-btn{
        border: 1px solid red;
        padding: 10px 15px;
        font-weight: 600;
        transition: 0.5s ease;
        &:hover{
            background-color: red;
            color: white;
        }
      }
      &:hover{
        // background-color: red;
        color: red;
      }
    }
  }
}
