#services {
  background-color: rgb(32, 32, 62);
  padding: 10rem;
  margin-top: 50px;
}

.services {
  @include flex(center, center, column, 50px);
  .about-info {
    @include header;
    color: white;
  }
  .services-cards {
    @include flex(center, center, row, 10px);
    .services-card {
      @include flex(center, center, column, 20px);
      border: 1px solid white;
      padding: 150px 70px;
      .services-icon {
        color: white;
        font-size: $font-l;
      }
      .services-info {
        color: white;
        font-size: $font-l;
        // @mixin responsive(desktop){
        //     .services-info {
        //         font-size: 15px;
        //     }
        // }
      }
    }
  }
}
